{# Uploader Modal #}
<div class="modal" id="uploadBox">
  <div class="modal-dialog fadeInRight animated ml-auto" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="card-title">Upload Files</h2> 
        <button type="button" class="close fadeOutRight animated" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body position-relative">
        <div id="uploadContainer" class="text-center"></div>
      </div>
      <div class="modal-footer">
        <a class="modal-dismiss backButton" data-dismiss="modal">Cancel</a>
        <button class="btn btn-color1 modal-ok d-none" type="button">Ok</button>
        <button class="btn btn-color1 btn-lg modal-confirm" type="button">Submit</button>
      </div>
    </div>
  </div>
</div>

{# Action Modal #}
<div id="{{name}}">
  <div class="modal" id="{{name}}Form">
    <div class="modal-dialog fadeInRight animated ml-auto" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="card-title"></h2> 
          <button type="button" class="close fadeOutRight animated" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body position-relative">
          <iframe class="embed-responsive-item" id="actionFrame" name="actionFrame" src="about:blank"></iframe>
        </div>
        <div class="modal-footer">
          <a class="modal-dismiss backButton" data-dismiss="modal">Cancel</a>
          <button class="btn btn-color1 modal-ok" type="button" data-dismiss="modal">Ok</button>  
          <button class="btn btn-color1 btn-lg modal-confirm" type="button">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

{# Object Chooser Modal #}
<div class="modal custom-object" id="objChooserModal">
  <div class="modal-dialog fadeInRight animated ml-auto" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="card-title">Choose Object</h2> 
        <button type="button" class="close fadeOutRight animated" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body position-relative">
        <div class="object-tree">
          <ul id="object-tree"></ul>
        </div>
      </div>
      <div id="objChooserModalFooter" class="modal-footer">
        <form action="/core/portal.stml" enctype="multipart/form-data" id="chooser" method="post" name="chooser" class="w-100">
          <div class="py-2">
            <label class="help-block sr-only" for="object_name">Name</label>
            <div class="input-group">
              <input class="form-control" id="object_name" name="object_name" type="text" placeholder="Name">
              <input id="object_id" name="object_id" type="hidden">
              <input id="my_module_object_id" name="my_module_object_id" type="hidden">
              <input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
              <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
              <div class="input-group-append">
                <button type="button" class="btn btn-white border border-gainsboro w-100" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-color1 btn-choose w-100" data-opener="" data-openerparent="">Choose</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>